2.0
pick_activity/__pycache__/orders_helper.cpython-310.pyc
Pollution Time Series Tutorial/data_helper.py
Pollution Time Series Tutorial/pollution_forecasting.ipynb
Pollution Time Series Tutorial/__pycache__/data_helper.cpython-310.pyc
Product Analyst/.ipynb_checkpoints/Data Task-checkpoint.ipynb
Pollution Time Series Tutorial/pollution_raw.csv
pick_activity/Online Operations Case Study_1.xlsx
CAVU/raw_data/bookings_sample (1).csv
CAVU/.idea/CAVU.iml
CAVU/.idea/misc.xml
CAVU/.idea/modules.xml
CAVU/.idea/vcs.xml
CAVU/.idea/inspectionProfiles/profiles_settings.xml
CAVU/temp_csv/
CAVU/analysis/temp_csv/
CAVU/raw_data/
CAVU/analysis/__pycache__/general_utils.cpython-310.pyc
CAVU/analysis/reports/
numerai/data_folder/
numerai/reports/
cursor rag/
Inference Group/.env
Inference Group/rag_data
Inference Group/django-errors.log
capgemini/data/
dxc_tech/data/
